{% if user.is_authenticated %}
{% if has_words == '+' %}
<div class='row' style='justify-content: center'>
  <ul class='nav nav-tabs' style='align-content: center'>
    <li class='nav-item'>
      <a class='nav-link {% if index %}active{% endif %}' href="{% url 'index' %}">
        Все слова
      </a>
    </li>
    <li class='nav-item'></li>
      <a class='nav-link {% if index %}active{% endif %}' href="{% url 'get_new' %}">
        Новые слова
      </a>
    </li>
    <li class='nav-item'></li>
      <a class='nav-link {% if index %}active{% endif %}' href="{% url 'get_familiar' %}">
        Смутно знакомые слова
      </a>
    </li>
  </ul>
</div>
<div class='row' style='justify-content: center'>
  <ul class='nav nav-tabs' style='align-content: center'>
    <li class='nav-item'></li>
      <a class='nav-link {% if index %}active{% endif %}' href='/get_known/?later=english'>
        Перевод на английский
      </a>
    </li>
    <li class='nav-item'></li>
      <a class='nav-link {% if index %}active{% endif %}' href='/get_known/?later=russian'>
        Перевод на русский
      </a>
    </li>
    <li class='nav-item'></li>
      <a class='nav-link {% if index %}active{% endif %}' href='/get_known/?later=eng_let'>
        Перевод на русский из букв
      </a>
    </li>
    <li class='nav-item'></li>
      <a class='nav-link {% if index %}active{% endif %}' href='/get_known/?later=rus_let'>
        Перевод на английский из букв
      </a>
    </li>
  </ul>
</div>
{% elif has_words == '-' %}
<div class='row' style='justify-content: center'>
  <ul class='nav nav-tabs'>
    <li class='nav-item'>
      <a class='nav-link {% if index %}active{% endif %}' href="{% url 'get_words' %}">
        Начать
      </a>
    </li>
  </ul>
</div>
{% endif %}
{% endif %}
